<ion-menu [content]="content" type="overlay">
    <ion-content [class]="selectedTheme">
        <div align="center">
            <img src="assets/imgs/logo.jpg" class="user_icon" alt="" />
        </div>

        <ion-list>

            <ion-item-divider>
                Navigation
            </ion-item-divider>

            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon"></ion-icon>
                    {{p.title}}
            </button>
        </ion-list>

        <ion-list *ngIf="auth.authenticated">

            <ion-item-divider>
                System
            </ion-item-divider>

            <button ion-item>
                <ion-icon item-start name="sunny"></ion-icon>
                    <ion-label>Dark Mode</ion-label>
                    <ion-toggle [checked]="toggleState" (ionChange)="toggleAppTheme()">
                    </ion-toggle>
            </button>

            <button menuClose ion-item (click)="logout()">
                <ion-icon item-start name="log-out"></ion-icon>
                    Log Out
            </button>
        </ion-list>

        <ion-list *ngIf="!auth.authenticated">

            <ion-item-divider>
                System
            </ion-item-divider>

            <button ion-item>
                <ion-icon item-start name="sunny"></ion-icon>
                    <ion-label>Dark Mode</ion-label>
                    <ion-toggle [checked]="toggleState" (ionChange)="toggleAppTheme()">
                    </ion-toggle>
            </button>

            <button menuClose ion-item (click)="login()">
                <ion-icon item-start name="log-in"></ion-icon>
                    Login/Register
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [class]="selectedTheme" #content swipeBackEnabled="false"></ion-nav>